<% action_path = @album.persisted? ? band_album_path : band_albums_path %>

<form action='<%= action_path %>' method= "post">

  <% if @album.persisted? %>
    <input type="hidden" name="_method" value= "put">
<% end %>

  <label for="album_band">Band</label>
  <select name=album[band_id] id="album_band">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>" <%= "selected" if (band.id == params[:band_id].to_i ) %> >
        <%= band.band_name %>
      </option>
    <% end %>
  </select>

  <label for="album_name">Album Name</label>
  <input  type="text" id="album_name" name="album[album_name]" value="<%=@album.album_name%>">

  <input type="radio" name="album[album_type]" id="album_version" value ="live" <%= "checked" if @album.album_type == "live" %> >
  <label for="album_version">Live</label><br>
  <input type="radio" name="album[album_type]" id="album_version" value ="studio" <%= "checked" if @album.album_type == "studio" %> >
  <label for="album_version">Studio</label>



  <input type="submit" value="Create Album!">

</form>